.form-fieldset {
  max-width: 500px;
  margin: 0 auto;
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-content label {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 1rem;
}

output {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2px;
  margin-top: 15px;
}

output span {
  background-color: rgb(201, 230, 255);
  padding: 4px;
}